<?xml version="1.0"?>
<!--
/** Grid module xml
 * @category  Pripoll
 * @package   Pripoll_PickupPoints
 * @author    Pablo Ripoll
 * @copyright Copyright (c) 2020~ Pablo Ripoll (http://pabloripoll.com)
 * @license   http://pabloripoll.com/magento2-modules-license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Pripoll_PickupPoints" setup_version="2.0.0">

        <!-- Frontend Top Menu Link -->
        <sequence>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
